@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Anton|Chewy|Shrikhand');
*{
  margin: 0;
  padding: 0;
}
body{
  background-image: url('../img/fondo2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

#inicio{
  padding-top: 263px;
  padding-left: 560px;
  text-align: center;
}
/*cuerpo del html*/
.button5 {
  color: #080808;
  height: 70px;
  width: 30%;
  margin-left: 50px;
  border-radius: 50%;
  background-color: rgba(158, 191, 24, 0.65);
  font-size: 2em;
  font-weight: 900;
}

img{
  border-radius: 50%;
}

#tablero {
  color: white; 
  font-size: 2em;
  text-align: center;
  /* margin-left: 550px; */
  margin-top: 40px;
  background-color: #333
}

tr {
  height: 80px;
}

td {
  width: 80px;
}

.bomba {
  width: 90%;
}
